.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(35, 35, 35);
  padding: 0 20px;
  height: 60px;
}

.logo {
  width: 120px;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 90px;
}

.nav-search {
  /* padding: 10px; */
  display: flex;
  align-items: center;
  height: 20px;
}
.search{
  font-size: 15px;
}

.search-emoji {
  /* padding: 5px 5px; */
  background-color: white;
  border: 3px solid rgb(253, 166, 25);
  width: 34px;
height: 28px;
  cursor: pointer;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav a:hover {
  color: lightgray;
}
